sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: LIFO+zdGc1DLjXkLxldKi4YPr9wG6rsfLTgcZLuDgvkkewHzh/gnXrK0fXKqGcnQ7oX48m6rHcHCBeaTGJTYUWbH/WV37vuRak763xJl2kfXsAUGdw0vWYZK+qGIWJTiYG9H/JAs8YobBJGrLYZ9H/AQoAsYkUJDIv/YfLeE6IBGIbKUWkiZIa0OtS6ITmUkgyi4yDrwXjI1zlDiRYsFdUdDQMf3Ro/HQ1K5mdmUNadlFGD5XoUVEtsrMvfcMlQ8RtUGldex0xu65HHRQFyCzfaXgF2Lrc2cH9PyM/gZvYmpCX3WdpntDBMWGJ9FMGd8KLmmAw60rdZ/30eJd9wZ9GkOjuv+QWQSr8ZEDaykC5gneV3X0UDPi8eyAmiCJHtY5nuT5pL1qb7UT+WuwRSFPwiUGLDmpNrJmCCKKnV8THCAejWGZs6Pv0WKPgC/iQe57y/0NqO5A+AAdrfkG3oFbsiqV/bXlO61QBFJCj871H35RxinZedow3ipCytN6eCELYgoq2bV/89I0oiNFPzIALHC9HHb5NuzDSw4rkqtq8huErPmjLZnNBrvPGLTExIi99Xg6Af/GutlNohlNQRHngbR3xgtvzpEgo9FWnXlpSV/FHq22QcHVnkA0F2mezHkvbioVrCZAHiaTsu49PyrXPho1+2vVlWJJm15Gz3gaGI=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Boy-Scouts-in-a-Submarine--Or-Searching-an-Ocean-Floor_6108
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy